$agl-blue: #001cb0;

.agl-header {
    background-color: $agl-blue;
    margin: -50px -50px 30px -50px;

    img {
        padding: 10px;
        width: 115px;
    }
}

.example-container {
    display: flex;
    flex-direction: column;

    > * {
        width: 100%;
    }
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-right-align {
    text-align: right;
}

.card-demo {
    margin-bottom: 20px;
}
