/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 50px;
    font-family: Open+Sans, 'Helvetica Neue', sans-serif;
    background: #f5f5f5;
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

// Overrides for material here

mat-form-field {
    font-size: 16px;
    font-family: Open+Sans, 'Helvetica Neue', sans-serif;
}

.highLightMeMore {
    background: #001cb0;
    .mat-simple-snackbar-action {
        color: white;
        font-weight: bold;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
    }
}

.card-demo {
    height: 100%;
}